body {
  font-family: 'Montserrat', sans-serif;
  background-color: #e5e5e5;
}

.hide {
  display: none;
}

.work-experience-description,
.contact-section-type,
.contact-section-link,
.tech-skills-item-text,
.education-subtitle,
.my-project-item,
.my-projects-text,
.link,
.my-projects-bracket,
.about-me-profession {
  font-size: 14px;
}

.my-projects-bracket,
.my-project-item,
.work-experience-title,
.about-me-profession,
.contact-section-type,
.education-subtitle,
.my-name-section {
  font-weight: Bold;
}

.bold {
  font-weight: 700;
}

.about-me-profession {
  font-weight: 700;
  line-height: 17px;
}

.about-me-profession,
.work-experience-title,
.my-project-item,
.my-projects-bracket,
.my-projects-bracket-2 {
  color: #000;
}

.sidebar-title,
.contact-section-type,
.tech-skills-item-text,
.social,
.sidebar-info-section {
  color: #fff;
}

.big-h2 {
  font-size: 24px;
  font-weight: 300;
  color: grey;
}

.main-container {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  background-color: #fff;
  margin: 40px auto;
  box-shadow: 6px 6px 20px rgba(102, 65, 65, 0.1);
}

.contact-section {
  padding-left: 20px;
}

.main-content-section {
  width: 70%;
  padding: 100px 140px 100px 90px;
}

.my-name-section {
  width: 50%;
  font-size: 45px;
  line-height: 55px;
  margin: 19px 0 24px 0;
}

.my-description-section {
  margin-right: 40px;
  width: 50%;
  line-height: 141%;
}

.my-profile {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.my-description-section,
.work-experience-description,
.my-projects-text,
.link {
  color: #595959;
}

.about-me-section,
.my-education-section,
.my-work-experience-section {
  margin-bottom: 40px;
}

.cv-photo {
  background: #fff;
}

.my-description-section,
.contact-section-type,
.contact-section-link,
.tech-skills-item-text,
.my-project-item,
.my-projects-text,
.link,
.my-projects-bracket,
.work-experience-description {
  line-height: 24px;
}

.work-experience-description {
  padding-left: 17px;
  width: 525px;
  margin: 0;
}

.tech-skills-list {
  padding-left: 17px;
}

.social {
  margin-top: 5px;
  width: 24px;
  height: auto;
  margin-left: 10px;
}

.sidebar-section {
  width: 30%;
  background-color: #1e2939;
  padding: 60px 20px;
}

.sidebar-info-section {
  padding-right: 24px;
}

.contact-section,
.tech-skills-section,
.soft-skills-section {
  margin: 50px 0 0 40px;
}

.contact-section-type {
  margin: 0 10px 0 2px;
}

.contact-section-link {
  line-height: 141%;
  color: rgba(255, 255, 255, 0.7);
}

.orange,
.tech-skills-item {
  color: #fb6d3a;
}

.tech-skills-item-text {
  line-height: 141%;
}

.work-experience-title {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
}

.work-experience-subtitle {
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  font-weight: 400;
}

h3 {
  font-size: 22px;
  font-weight: Bold;
  line-height: 27px;
  color: #000;
  margin-bottom: 12px;
}

.work-experience-title {
  font-size: 16px;
  line-height: 20px;
}

.education-subtitle {
  line-height: 17px;
}

.company {
  margin-bottom: 15px;
}

.my-project-section {
  margin-bottom: 50px;
}

.my-projects-list {
  padding-left: 17px;
}

.my-projects-text {
  font-weight: 400;
  margin-left: 10px;
}

.my-projects-bracket-2 {
  font-size: 12px;
  line-height: 15px;
}

.cv-photo {
  width: 160px;
  height: auto;
}

.black,
.contact-section-type,
.contact-section a {
  color: #000;
}

.cv-photo,
.contact-section {
  padding: 0;
  margin: 0;
}

.expand {
  color: #fb6d3a;
  border: 1px solid #000;
  position: absolute;
  margin-top: -6px;
  margin-left: 10px;
}

@media (max-width: 768px) {
  .picture {
    width: 40%;
    margin: 0;
  }

  .my-description-section {
    width: 55%;
    margin: 0;
  }

  .sidebar-section {
    padding: 40px 0 80px 0;
    width: 100%;
  }

  .sidebar-info-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .contact-section,
  .soft-skills-section {
    flex-basis: 40%;
    padding: 0;
    margin: 0;
  }

  .tech-skills-section,
  .soft-skills-section {
    margin: 30px 0 0 40px;
  }

  .main-container {
    flex-direction: column;
    width: 100%;
  }

  .main-content-section {
    padding: 60px 40px;
  }

  .my-name-section {
    font-size: 32px;
    line-height: 55px;
    margin: 19px 0 24px 0;
  }

  .work-experience-description {
    width: 100%;
    margin: 0;
  }
}

@media (max-width: 560px) {
  .main-content-section {
    padding: 40px 20px;
  }

  h3 {
    font-size: 18px;
  }

  .big-h2 {
    font-size: 14px;
  }

  .my-description-section,
  .my-name-section,
  .picture {
    width: 100%;
  }

  .my-name-section {
    font-size: 28px;
    line-height: 25px;
    margin: 15px 0;
  }

  .cv-photo {
    width: 240px;
    height: auto;
  }

  .tech-skills-section,
  .soft-skills-section {
    flex-basis: 100%;
    padding: 0 20px;
    margin: 0;
  }

  .work-experience-description {
    width: 95%;
  }

  .sidebar-info-section {
    padding: 0;
  }

  .dots {
    display: none;
  }
}
